.regular-customers {
  @extend %flexwrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.regular-customer__item {
  flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
  width: calc((100% - 6 * var(--card-set-gap)) / 6);
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.regular-customer__logo {
  @extend %flexcentering;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;

  transition: border-color var(--transit-time) var(--timing),
    color var(--transit-time) var(--timing);

  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    color: var(--accent-text-color);
  }
}

.regular-customer__icon {
  fill: currentColor;
}
