.footer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-container__part {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}
.footer-container__part:nth-child(2n) {
  margin-left: var(--card-set-gap);
}

// Address
.address {
  margin-top: 20px;
  color: var(--title-text-color);
  line-height: 1.7;
  font-style: inherit;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--adress-text);
  transition: color var(--transit-time) var(--timing);
}
// netwotk list
.network-list-footer {
  display: flex;
  background-color: inherit;
  color: var(--title-text-color);
  & > .network-list-footer__item + .network-list-footer__item {
    margin-left: 10px;
  }
}

.network-list-footer__link {
  @extend %flexcentering;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transit-time) var(--timing);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}
.network-list-footer__icon {
  fill: currentColor;
}

/* footer form */
.footer-form {
  display: block;
  margin-left: auto;
}
.footer-form__label {
  display: block;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--bgc-color);
}
.footer-form__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
}

.footer-form__btn {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 29px;
  color: var(--title-text-color);
  background: var(--accent-text-color);
  border-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  @include fontwsh(700, 16px, 1.88);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
