.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

// Address
.address {
  margin-top: 20px;

  color: var(--title-text-color);
  line-height: 1.7;
  font-style: inherit;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: var(--adress-text);
  transition: color var(--transit-time) var(--timing);
}
// netwotk list
.network-list-footer {
  display: flex;

  background-color: inherit;
  color: var(--title-text-color);
  & > .network-list-footer__item + .network-list-footer__item {
    margin-left: 10px;
  }
}

.network-list-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transit-time) var(--timing);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}
.network-list-footer__icon {
  fill: currentColor;
}
/* footer form */
.footer-form {
  display: block;
}

.footer-form__label {
  display: block;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--bgc-color);
}
.footer-form__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
}

.footer-form__btn {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 29px;
  color: var(--title-text-color);
  background: var(--accent-text-color);
  border-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  @include fontwsh(700, 16px, 1.88);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and(max-width:1199px) {
  .footer-container__part {
    margin-bottom: 60px;
  }
}
@media screen and(max-width:767px) {
  .footer-container {
    text-align: center;
  }
  .network-list-footer {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner__parts {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-conteiner__parts {
    margin-left: 76px;
    margin-right: 89px;
    justify-content: space-between;
  }

  .footer-container__part {
    text-align: center;
  }
  .footer-form {
    text-align: center;
  }
  .footer-form__btn {
    display: block;
    margin: auto;
  }
  .footer-form__input {
    width: 450px;
  }
}

@media screen and(min-width:1200px) {
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-container__part + .footer-container__part {
    margin-left: 70px;
    margin-top: 12px;
  }

  .footer-form__input {
    width: 358px;
  }
}
