// portfolio-cardset
.card-set {
  margin-top: 25px;
}
.card-set__link {
  display: flex;
  transition: box-shadow var(--transit-time) var(--timing);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
// article(product)

.product__image {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  @include positioning(0, 0, 100%, 100%);
  background-color: var(--bgc-position-portfolio);
  transform: translateY(100%);
  transition: transform var(--transit-time) var(--timing);
  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(0);
  }
}

.product__overlay-description {
  position: absolute;
  @include position(50%, 50%, 168px, 322px);
  transform: translate(-50%, -50%);
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1.56;
}
.product__meta {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.product__company {
  margin-bottom: 4px;
  color: var(--main-text-color);
  @include font(18px, 2, 0.06em);
}
.product__project {
  margin-bottom: 0;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}
@media screen and (max-width: 479px) {
  .product__overlay-description {
    font-size: 14px;
    line-height: 1.2;
    @include position(50%, 50%, 126px, 242px);
  }
}
@media screen and (min-width: 480px) {
  .product {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .card-set__item {
    display: flex;
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .card-set__item {
    display: flex;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
