/* portfolio */

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  background-color: var(--button-color);
  border: transparent;
  @include fontwsh(500, 16px, 1.6);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;

  transition: color var(--transit-time) var(--timing),
    background-color var(--transit-time) var(--timing),
    box-shadow var(--transit-time) var(--timing);
  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
  }
  .filter__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
