body {
  font-size: 14px;
  font-family: var(--main-fonts);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}
