.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  @extend %blockcentering;
  outline: 1px solid tomato;
  .header & {
    display: flex;
    align-items: center;
  }
  .footer & {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
