.logo {
  @include flexcentering();
  @include fontwsh(700, 24px, 1.17);
  font-family: var(--second-font);
  color: var(--accent-text-color);
  text-decoration: none;
}
.logo__accent-text {
  color: var(--main-text-color);
}
.logo__footer-text {
  color: var(--title-text-color);
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    justify-content: center;
  }
}
