@media screen and(min-width:768px) {
  .site-nav {
    display: flex;
  }
}
nav {
  margin-left: 93px;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: var(--margin);
  }
}

.site-nav__link {
  display: block;
  @include fontwhs(500, 1.14, 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  position: relative;
  color: var(--accent-text-color);
  &::after {
    position: absolute;
    content: "";
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
}

.current-link {
  transition: color var(--transit-time) var(--timing);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
